{% extends 'base.html.twig' %}

{% block body %}
    <div class="row text-left">
        <!--Grid column-->
        <div class="col-md-1 mb-r">


        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-10 mb-r pb-5">
            <h2>Informations de l'organisateur</h2>
            <br>

            <div class="card">
                <div class="card-body z-depth-1">

                    {{ form_start(form, { 'attr': {'id': 'eventForm'} })}}
                    <br>
                    <!--Body-->



                    <div class="md-form"> 
                        {{ form_label(form.tel) }}
                        {{form_widget(form.tel) }}
                        <span class="error-msg"></span>
                    </div>
                    <div class="md-form"> 
                        {{ form_label(form.cin.titre, "Titre de l'identifiant") }}
                        <br><br>
                        {% if app.user.cin is not null %}
                            {% set cin_titre = app.user.getCin.getTitre %}
                        {%else%}
                            {% set cin_titre = '' %}
                        {%endif%}
                        {{form_widget(form.cin.titre, {value : cin_titre}) }}
                        <span class="error-msg"></span>
                    </div>
                    <div class="md-form"> 

                        {{form_widget(form.cin.file) }}
                        <span class="error-msg"></span>
                    </div>
                    <div class="md-form"> 
                        {{ form_label(form.photo) }}
                        <br><br>
                        {{form_widget(form.photo) }}
                        <span class="error-msg"></span>
                    </div>
                    {#                    <div class="md-form"> 
                                            {{ form_label(form.certifs) }}
                                            <br>
                                            <br>
                    
                                            {{form_widget(form.certifs) }}
                                            <span class="error-msg"></span>
                                        </div>#}
                    <h3>Certifs</h3>
                    <div class="certifs" data-prototype="{{ form_widget(form.certifs.vars.prototype)|e('html_attr') }}">
                        {# iterate over each existing tag and render its only field: name #}
                        {% for certif in form.certifs %}
                            <div>{{ form_row(certif.titre) }}</div>
                            <div>{{ form_row(certif.file) }}</div>
                        {% endfor %}
                    </div>

                    <div class="text-right">
                        <br><br>
                        <input class="btn btn-primary-inverse btn-md waves-effect waves-light" id="submit_event" type="submit" value="Terminé" />
                        <br><br>
                    </div>
                    <br>


                </div>


            </div>
            {{ form_end(form) }}

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-1 mb-r">


        </div>
        <!--Grid column-->

    </div>

    <!-- Google Map -->	
    <script src="http://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=places&key=AIzaSyBdI6hYrzRf5QMgKGj8RQsEeLE9bS-1vOQ"></script>

{#
    <script type="text/javascript">

        //   document.querySelector('#category').required = true;
        document.querySelector('#form_certifs').required = false;


    </script>#}
    
    <script>
    document.querySelector('#form_cin_titre').required = false;
    document.querySelector('#form_cin_file').required = false;
    document.querySelector('#user_photo').required = false;

</script>
<script type="text/javascript" src="{{asset('bundles/app/js/jquery-3.2.1.min.js')}}"></script>
<script>

    var $collectionHolder;

// setup an "add a certif" link
    var $addCertifButton = $('<button type="button" class="add_Certif_link">Ajouter Certif</button>');
    var $newLinkDiv = $('<div></div>').append($addCertifButton);

    jQuery(document).ready(function () {
        // Get the div that holds the collection of speakers
        $collectionHolder = $('div.certifs');

        // add the "add a speaker" anchor and div to the speakers div
        $collectionHolder.append($newLinkDiv);

        // count the current form inputs we have (e.g. 2), use that as the new
        // index when inserting a new item (e.g. 2)
        $addCertifButton.data('index', $collectionHolder.find(':input').length);

        $addCertifButton.on('click', function (e) {
            // add a new tag form (see next code block)
            addCertifForm($collectionHolder, $newLinkDiv);
        });
    });

    function addCertifForm($collectionHolder, $newLinkDiv) {
        // Get the data-prototype explained earlier
        var prototype = $collectionHolder.data('prototype');

        // get the new index
        var index = $collectionHolder.data('index');

        var newForm = prototype;
        // You need this only if you didn't set 'label' => false in your tags field in TaskType
        // Replace '__name__label__' in the prototype's HTML to
        // instead be a number based on how many items we have
        // newForm = newForm.replace(/__name__label__/g, index);

        // Replace '__name__' in the prototype's HTML to
        // instead be a number based on how many items we have
        newForm = newForm.replace(/__name__/g, index);

        // increase the index with one for the next item
        $collectionHolder.data('index', index + 1);

        // Display the form in the page in an li, before the "Add a tag" link li
        var $newFormDiv = $('<div></div>').append(newForm);
        $newLinkDiv.before($newFormDiv);
    }
</script>

{% endblock %}


