<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">

        <title>L'Atelier.com</title>

        <!-- Fav icone -->
        <link rel="icon" href="{{asset('bundles/app/img/logo_min.ico')}}">

        <!-- Font Awesome -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

        <!-- Bootstrap core CSS -->
        <link href="{{asset('bundles/app/css/bootstrap.min.css')}}" rel="stylesheet">
        <link href="{{asset('bundles/app/css/style.css')}}" rel="stylesheet">

        <!-- Material Design Bootstrap -->
        <link href="{{asset('bundles/app/css/mdb.min.css')}}" rel="stylesheet">

        <!-- Material Design Bootstrap -->
        <link href="{{asset('bundles/app/css/compiled.min.css')}}" rel="stylesheet">

        <link href="{{asset('bundles/app/css/bootstrap-material-datetimepicker.css')}}" rel="stylesheet">

        <link href='http://fonts.googleapis.com/css?family=Roboto:400,500' rel='stylesheet' type='text/css'>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


    </head>
    <body>

        <header>

            <!--Navbar-->
            <nav class="navbar navbar-expand-lg navbar-inverse navbar-dark">
                <div class="container">
                    <a class="navbar-brand" href="{{ path('homepage') }}">L ' Atelier</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">

                            <li class="nav-item btn-group">
                                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Catégories
                                </a>
                                <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                                    {{ render(controller('AppBundle:Category:menu')) }}
                                </div>
                            </li>
                            <li class="nav-item btn-group">
                                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Régions
                                </a>
                                <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                                    {{ render(controller('AppBundle:Region:menu')) }}
                                </div>
                            </li>
                            <li class="nav-item btn-group">
                                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Départements
                                </a>
                                <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                                    {{ render(controller('AppBundle:Departement:menu')) }}
                                </div>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="#">Comment ça marche ?</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Tarifs</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Contacts</a>
                            </li>

                            {% if is_granted('ROLE_ORGANIZER') %}
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ path('event_new') }}">Nouveau Atelier</a>
                                </li> 

                            {% endif %}


                        </ul>

                        <ul class="navbar-nav " >
                            <li class="nav-item" style="padding-right: .5rem; padding-left: .5rem; padding-top: .5rem;">
                                <a href="#" title="Recherche" style="color:white;" data-toggle="modal" data-target="#SearchModal">
                                    <i class="fa fa-search"></i> 
                                </a> 
                            </li>

                            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                <li class="nav-item"  style="padding-left: .5rem; padding-top: .5rem;">
                                    <span style="color:white;"> Bienvenu  </span>
                                </li>
                                <li class="nav-item" style="padding-right: .5rem; padding-left: .5rem; padding-top: .5rem;">
                                    <a href="{{ path('fos_user_profile_show') }}" title="Mon Profile" style="color:white;">{{ app.user.getFirstName}} |</a> 
                                </li>
                                <li class="nav-item" style="padding-right: .5rem; padding-left: .5rem; padding-top: .5rem;">
                                    <a href="{{ path('fos_user_security_logout') }}" title="Déconnexion" style="color:white;">
                                        <i class="fa fa-power-off"></i> 
                                    </a> 
                                </li>

                            {% else %}

                                <li class="nav-item btn-group">
                                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fa fa-user"></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                                        <a class="dropdown-item" href="{{ path('fos_user_security_login') }}">Connexion</a>
                                        <a class="dropdown-item" href="{{path ('fos_user_registration_register')}}">Inscription</a>
                                    </div>
                                </li>

                            {% endif %}



                        </ul>

                    </div>
                </div>
            </nav>
            <!--/.Navbar-->
        </header>

        <main>


            {#  test user geolocation#}

            {#            <button id="location-btn" > Click me </button>
                        <p>Address: <div id="address"></div></p>
                    <p>longitude: <div id="longitude"></div></p>
                <p>latitude: <div id="latitude"></div></p>
                    #}

            <!--Main layout-->
            <div class="container">
                {%  include 'modals/searchModal.html.twig' %}
            {% block style %}{% endblock %}
        {% block body %}{% endblock %}
    {% block javascripts %}{% endblock %}
</div>
<!--/.Main layout-->
</main>
</body>

<!--Footer-->
<footer class="page-footer center-on-small-only">
    <!--Footer links-->
    <div class="container">
        <div class="row">
            <!--First column-->
            <div class="col-lg-3 col-md-6">
                <h5 class="title font-bold mt-3 mb-4">L'Atelier</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eu blandit tortor. Nam id ipsum ligula. 
                    Donec eu accumsan felis.</p>
            </div>
            <!--/.First column-->
            <hr class="w-100 clearfix d-sm-none">
            <!--Second column-->
            <div class="col-lg-2 col-md-6 ml-auto">
                <h5 class="title font-bold mt-3 mb-4">Partnaires</h5>
                <ul>
                    <li>
                        <a href="#!">Lorem ipsum</a>
                    </li>
                    <li>
                        <a href="#!">Lorem ipsum</a>
                    </li>
                    <li>
                        <a href="#!">Lorem ipsum</a>
                    </li>
                    <li>
                        <a href="#!">Lorem ipsum</a>
                    </li>
                </ul>
            </div>
            <!--/.Second column-->
            <hr class="w-100 clearfix d-sm-none">
            <!--Third column-->
            <div class="col-lg-2 col-md-6 ml-auto">
                <h5 class="title font-bold mt-3 mb-4">Projets</h5>
                <ul>
                    <li>
                        <a href="#!">Lorem ipsum</a>
                    </li>
                    <li>
                        <a href="#!">Lorem ipsum</a>
                    </li>
                    <li>
                        <a href="#!">Lorem ipsum</a>
                    </li>
                    <li>
                        <a href="#!">Lorem ipsum</a>
                    </li>
                </ul>
            </div>
            <!--/.Third column-->
            <hr class="w-100 clearfix d-sm-none">
            <!--Fourth column-->
            <div class="col-lg-2 col-md-6 ml-auto">
                <h5 class="title font-bold mt-3 mb-4">Nos Réseaux</h5>
                <ul>
                    <li>
                        <a href="#!">Facebook</a>
                    </li>
                    <li>
                        <a href="#!">Youtube</a>
                    </li>
                    <li>
                        <a href="#!">Instagram</a>
                    </li>
                    <li>
                        <a href="#!">Pinterest</a>
                    </li>
                </ul>
            </div>
            <!--/.Fourth column-->
        </div>
    </div>
    <!--/.Footer links-->
    <hr>


    <!--Copyright-->
    <div class="footer-copyright">
        <div class="containter-fluid">
            © 2018 Copyright: <a href="#"> L'Atelier.com </a>
        </div>
    </div>
    <!--/.Copyright-->
</footer>
<!--/.Footer-->

<!-- SCRIPTS -->

<!-- JQuery -->


<script type="text/javascript" src="{{asset('bundles/app/js/jquery-3.2.1.min.js')}}"></script>

<!-- Bootstrap dropdown -->
<script type="text/javascript" src="{{asset('bundles/app/js/popper.min.js')}}"></script>

<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="{{asset('bundles/app/js/bootstrap.min.js')}}"></script>

<!-- MDB core JavaScript -->
<script type="text/javascript" src="{{asset('bundles/app/js/mdb.min.js')}}"></script>

<!-- MDB core JavaScript -->
<script type="text/javascript" src="http://momentjs.com/downloads/moment-with-locales.min.js"></script>
<script type="text/javascript" src="{{asset('bundles/app/js/bootstrap-material-datetimepicker.js')}}"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

<script type="text/javascript" src="http://momentjs.com/downloads/moment-with-locales.min.js"></script>

<script type="text/javascript" src="{{asset('bundles/app/js/cookies.js')}}"></script>

<script>
    new WOW().init();
</script>


<script>
    $(document).ready(function () {
        $('.mdb-select ').material_select();
    });
</script>


<script type="text/javascript">
    $(document).ready(function ()
    {

        $('.date-fr').bootstrapMaterialDatePicker
                ({
                    format: 'DD/MM/YYYY HH:mm',
                    lang: 'fr',
                    weekStart: 1,
                    cancelText: 'ANNULER',
                    nowButton: false,
                    switchOnClick: true
                });


    });

</script>

<script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
<script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>


{#<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBdI6hYrzRf5QMgKGj8RQsEeLE9bS-1vOQ&callback=initMap"></script>
<script type="text/javascript" src="{{asset('bundles/app/js/geocoder.js')}}"></script>
#}
<script type="text/javascript">

$(document).ready(function () {
        var currgeocoder;
        var user_lng;
        var user_lat;
        var url;
        var a = document.getElementById("plus_proche");

        //Set geo location lat and long

        navigator.geolocation.getCurrentPosition(function (position, html5Error) {

            geo_loc = processGeolocationResult(position);
            currLatLong = geo_loc.split(",");
            initializeCurrent(currLatLong[0], currLatLong[1]);

        });

        //Get geo location result

        function processGeolocationResult(position) {
            html5Lat = position.coords.latitude; //Get latitude
            html5Lon = position.coords.longitude; //Get longitude
            html5TimeStamp = position.timestamp; //Get timestamp
            html5Accuracy = position.coords.accuracy; //Get accuracy in meters
            return (html5Lat).toFixed(8) + ", " + (html5Lon).toFixed(8);
        }

        //Check value is present or not & call google api function

        function initializeCurrent(latcurr, longcurr) {
            currgeocoder = new google.maps.Geocoder();
            console.log(latcurr + "-- ######## --" + longcurr);

            if (latcurr != '' && longcurr != '') {
                var myLatlng = new google.maps.LatLng(latcurr, longcurr);
                return getCurrentAddress(myLatlng);
            }
        }

        //Get current address

        function getCurrentAddress(location) {
            currgeocoder.geocode({
                'location': location

            }, function (results, status) {

                if (status == google.maps.GeocoderStatus.OK) {
                    console.log(results[0]);
                    $("#lng").html(results[0].geometry.location.lng());
                    user_lng = results[0].geometry.location.lng();
                    user_lat = results[0].geometry.location.lat();
                    
                    setCookie("user_lat", lat, 365);
                    setCookie("user_lng", lng, 365);
                    
                   // alert(results[0].geometry.location.lng());

                } else {
                    alert('Geocode was not successful for the following reason: ' + status);
                }
            });
        }
        var lat = getCookie("user_lat");
        var lng = getCookie("user_lng");



        url = Routing.generate('near_me', {lat: lat, lng: lng});
        if(a != null){
        a.setAttribute("href", '#' {#url#});
    }


    });
</script>

<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.16.0/jquery.validate.min.js"></script>
<script type="text/javascript" src="{{asset('bundles/app/js/validateEventForm.js')}}"></script>

{#<script type="text/javascript" src="{{asset('bundles/app/js/progressBar.js')}}"></script>#}
<script type="text/javascript">
    
</script>




</body>

</html>
