{% extends 'base.html.twig' %}

{% block body %}

    <div class="row">
        <div class="col-lg-2"></div>

        <div class="col-lg-8 flex-center ">

            </br>

            {#<h3>Liste des ateliers</h3>#}
            <div class="table-responsive">


                <table class="table ">
                    <thead>
                        <tr>

                            <th>
                                Atelier                     
                            </th>
                            <th>
                                Categorie
                            </th>
                            <th>
                                validation
                            </th>
                            <th>
                                Action
                            </th>
                        </tr>

                    </thead>
                    <tbody >
                        {% for event in events %}
                            <tr>
                                <td><a href="{{ path('presentation', { 'id': event.id }) }}">{{ event.titre }}</a></td>

                                <td>{{ event.category.nom }}</td>
                                {% if event.validation == 0 %}
                                    <td><i class="fa fa-hourglass-half"  style="color: orange" aria-hidden="true"></i></td>


                                    
                                {% elseif event.validation == 1 %}
                                    <td><i class="fa fa-check "  style="color:#00C851;" aria-hidden="true"></i></td>
                                           
                                {% elseif event.validation == 2 %}
                                    <td><i class="fa fa-remove "  style="color:red;" aria-hidden="true"></i></td>
                                   
                                {% endif %}
                               <td> <a class="btn btn-success btn-sm" href="{{ path('presentation', { 'id': event.id }) }}"> Consulter </a></td>

                            </tr>

                        {% endfor %}
                    </tbody>

                </table>
            </div>



        </div>
        <div class="col-lg-2">
            <div class="dropdown show">

                <!--Trigger-->
                <button class=" btn btn-primary-atelier btn-sm pull-right waves-effect waves-light" type="button" id="tri_btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Trier par </button>

                <!--Menu-->
                <div class="dropdown-menu dropdown-mdb-color" x-placement="top-start" style="position: absolute; transform: translate3d(69px, -163px, 0px); top: 0px; left: 0px; will-change: transform;">
                    <a class="dropdown-item" href="{{ path('nonValide') }}">non validé</a>
                     <a class="dropdown-item" href="{{ path('admin_events_index') }}">Tous</a>
                </div>

            </div>
        </div>




    </div>
                <br> 
                <br>
                
    <!--Pagination-->
    <nav class="row flex-center wow fadeIn" data-wow-delay="0.2s">
        <div class="col-lg-2"></div>
        <div class="navigation flex-center col-lg-8">
            {{ knp_pagination_render(events) }}
        </div>
        <div class="col-lg-2"></div>
    </nav>
    <!--/.Pagination-->
{% endblock %}