<div class="row text-left">
    <!--Grid column-->
    <div class="col-md-3 mb-r">


    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-md-6 mb-r pb-5">



        <div class="card">
            <div class="card-body z-depth-3">

                <br>
                <div class="avatar text-center"><img src="{{asset('bundles/app/img/login-avatar.jpg')}}" class="img-circle img-responsive"  height="100" width="100">
                </div>
                <br>
                {% trans_default_domain 'FOSUserBundle' %}

                <h3 class="text-center">{{ 'layout.register'|trans({}, 'FOSUserBundle') }} (2/2)</h3>
                <br>
               <form action="{{ path("register_step2") }}" method="post" >

                <div class="md-form">
                    <i class="fa fa-envelope prefix grey-text"></i>
                    <label for="email">E-mail</label>
                    {{form_widget(form.email, { 'attr': {'class': 'inputbox required'} }) }}
                    <div class="  alert-danger"> {{ form_errors(form.email) }}</div>
                </div>


                <div class="md-form">
                    <i class="fa fa-user-circle prefix grey-text"></i>
                    <label  for="username" >Username</label>
                    {{form_widget(form.username, { 'attr': {'class': 'inputbox required'} }) }}
                    <div class="  alert-danger"> {{ form_errors(form.username) }}</div>
                </div>

                <div class="md-form">
                    <i class="fa fa-lock prefix grey-text"></i>
                    <label for="password">Mot de passe</label>
                    {{form_widget(form.plainPassword.first) }}
                    <div class="alert-danger">    {{ form_errors(form.plainPassword.first) }}</div>
                </div>

                <div class="md-form">
                    <i class="fa fa-lock prefix grey-text"></i>
                    <label for="verification">Répéter le mot de passe</label>
                    {{form_widget(form.plainPassword.second, { 'attr': {'class': 'inputbox required'} }) }}
                    <div class=" alert-danger">   {{ form_errors(form.plainPassword.second) }}</div>
             
                </div>
                <div class="md-form">
                    <i class="fa fa-key prefix grey-text"></i>
                    <label for="password">Choisissez votre type</label>
                    <br>
                </div>
                <div class="md-form">
                    {{form_widget(form.roles) }}
                    <div class="  alert-danger"> {{ form_errors(form.roles) }}</div>
                </div>


                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="checkbox_cgu" value="accept_cgu" >
                    <label class="form-check-label" for="checkbox_cgu">J’ai lu et j’accepte les <a href="" data-toggle="modal" data-target="#CguModal">conditions d’utilisation</a></label>
                </div>
                {%  include 'AppBundle:default:modals/cguModal.html.twig' %}

                <br>
                <div align="center" class="g-recaptcha" data-sitekey="{{captcha_site_key}}"></div>
                {% for message in app.flashes('error') %}
                    <div align="center" class="flash-notice" style="color:red;">
                        {{ message }}
                    </div>
                {% endfor %}
                  <div class="text-left">
                    <input type="submit" id="_submit" name="_submit" value="précédent" class="btn btn-primary-inverse btn-md waves-effect waves-light" />
                </div>
                <div class="text-right">
                    <input type="submit" id="_submit" name="_submit" value="Inscription" class="btn btn-primary-inverse btn-md waves-effect waves-light" />
                </div>
            </form>

                <div class="text-center">
                    <h4>Ou</h4>

                    <h5>Se connecter avec:</h5>
                    <span>
                        <!--Facebook-->
                        <a href="{{ path('hwi_oauth_service_redirect', {'service': 'facebook' }) }}" type="button" class="btn-floating btn-fb waves-effect waves-light">
                            <i class="fa fa-facebook"></i>
                        </a>
                        <!--Google +-->
                        <a href="{{ path('hwi_oauth_service_redirect', {'service': 'google' }) }}" type="button" class="btn-floating btn-gplus waves-effect waves-light">
                            <i class="fa fa-google-plus"></i>
                        </a>
                        <!--Twitter-->
                        <a href="{{ path('hwi_oauth_service_redirect', {'service': 'twitter' }) }}" type="button" class="btn-floating btn-tw waves-effect waves-light">
                            <i class="fa fa-twitter"></i>
                        </a>


                    </span>
                </div>
                <div class="options text-right">
                    <hr>
                    <p>Vous avez déjà un compte ? <a href="{{path ('fos_user_security_login')}}">Connexion</a></p>
                </div>

            </div>


        </div>

    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-md-3 mb-r">


    </div>
    <!--Grid column-->
</div>

<script type="text/javascript" src="{{asset('bundles/app/js/jquery-3.2.1.min.js')}}"></script>
<script type="text/javascript">
    // document.querySelector('#fos_user_registration_form_photo').required = false;
    // document.querySelector('#checkbox_cgu').required = true;

    $(document).ready(function () {
        $(':input[type="checkbox"]').prop('required', true);
    {# $('input[type="text"]').keyup(function() {
        if($(this).val() != '') {
           $(':input[type="submit"]').prop('disabled', false);
        }
     });#}
         });


</script>