{% extends 'base.html.twig' %}

{% block body %}
    <div class="row text-left">
        <!--Grid column-->
        <div class="col-md-1 mb-r">


        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-10 mb-r pb-5">
            <h2>Nouveau Événement</h2>
            <br>

            <div class="card">
                <div class="card-body z-depth-1">

                    {{ form_start(form, { 'attr': {'id': 'eventForm'} })}}
                    <br>
                    <!--Body-->

                    <div class="md-form">

                        {{form_widget(form.category) }}
                        <span class="error-msg"></span>
                    </div>

                    <div class="md-form">
                         {{ form_label(form.titre) }}
                        {{form_widget(form.titre) }}
                        <span class="error-msg"></span>
                    </div>

                    <div class="md-form">
                        {{ form_label(form.description) }}
                        {{form_widget(form.description) }}
                        <span class="error-msg"></span>
                    </div>

                    <div class="md-form ">
                         {{ form_label(form.dateDebut) }}
                        {{form_widget(form.dateDebut) }}
                        <span class="error-msg"></span>
                    </div>
                    <div class="md-form">
                          {{ form_label(form.dateFin) }}
                        {{form_widget(form.dateFin) }}
                        <span class="error-msg"></span>
                    </div>

                    <div class="md-form">
                         {{ form_label(form.prix) }}
                        {{form_widget(form.prix) }}
                        <span class="error-msg"></span>
                    </div>
                    <div class="md-form">
                        {{ form_label(form.nbrMax) }}
                        {{form_widget(form.nbrMax) }}
                        <span class="error-msg"></span>
                    </div>

                    <div class="md-form"> 
                        {{ form_label(form.adresse) }}
                        {{form_widget(form.adresse) }}
                        <span class="error-msg"></span>
                    </div>

                    <div class="md-form"> 
                         {{ form_label(form.codeP) }}
                        {{form_widget(form.codeP) }}
                        <span class="error-msg"></span>
                    </div>
                    <div class="md-form"> 
                        {{form_widget(form.ville) }}
                        <span class="error-msg"></span>
                    </div>
                    <div class="md-form"> 
                        {{form_widget(form.region) }}
                        <span class="error-msg"></span>
                    </div>
                    <div class="md-form"> 
                        {{form_widget(form.departement) }}
                        <span class="error-msg"></span>
                    </div>
                    <div class="md-form"> 

                        {{form_widget(form.images) }}
                        <span class="error-msg"></span>
                    </div>


                    <div class="text-right">
                        <br><br>
                        <input class="btn btn-primary-inverse btn-md waves-effect waves-light" id="submit_event" type="submit" value="Créer" />
                        <br><br>
                    </div>
                    <br>


                </div>


            </div>
            {{ form_end(form) }}

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-1 mb-r">


        </div>
        <!--Grid column-->

    </div>

    <!-- Google Map -->	
    <script src="http://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=places&key=AIzaSyBdI6hYrzRf5QMgKGj8RQsEeLE9bS-1vOQ"></script>


    <script type="text/javascript">

        //   document.querySelector('#category').required = true;
        document.querySelector('#description').required = false;
        google.maps.event.addDomListener(window, 'load', intilize);
        function intilize() {
            var autocomplete = new google.maps.places.Autocomplete(document.getElementById("adresse"));

            google.maps.event.addListener(autocomplete, 'place_changed', function () {

                var place = autocomplete.getPlace();
                
                var lat= place.geometry.location.lat();
                var lng = place.geometry.location.lng();
                document.getElementById("lng").value = lng ;
                 document.getElementById("lat").value = lat ;
                
        });
    }
      {# document.getElementById("tri_btn").style.display = 'none';#}
        
{#      //   $("#submit_event").click(function () {
        var date_debut = document.getElementById("dateDebut").value;
         alert(date_debut);
        var date_fin = format_date($("#dateFin").val());
        if (!validateDate(date_debut, date_fin)) {
            alert('error !!')
            $("#dateDebut").addClass("has-error").after($(".error-msg").css('display', 'block'));
            return;
        } else {
            $("#dateDebut").removeClass("has-error").after($(".error-msg").css('display', 'none'));
        }
     //    });
         
             function validateDate(dateDebut, dateFin) {
        if (dateDebut > dateFin) {
            return false;
        } else {
            return true;
        }
    }#}

    </script>

{% endblock %}


