{% extends 'base.html.twig' %}

{% block body %}
    <div class="row text-left">
        <!--Grid column-->
        <div class="col-md-1 mb-r">


        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-10 mb-r pb-5">
            <h2>Nouveau Evénémént</h2>
            <br>

            <div class="card">
                <div class="card-body z-depth-1">

                    {{ form_start(form, { 'attr': {'id': 'eventForm'} })}}
                    <br>
                    <!--Body-->

                    <div class="md-form">
                         
                        {{form_widget(form.category) }}
                        <div class="  alert-danger"> {{ form_errors(form.category) }}</div>
                    </div>

                    <div class="md-form">
                        {{ form_label(form.titre) }}
                        {{form_widget(form.titre) }}
                <div class="  alert-danger"> {{ form_errors(form.titre) }}</div>
                    </div>

                    <div class="md-form">
                        {{ form_label(form.description) }}
                        {{form_widget(form.description) }}
                        <div class="  alert-danger"> {{ form_errors(form.description) }}</div>
                    </div>

                    <div class="md-form ">
                        {{ form_label(form.dateDebut) }}
                        {{form_widget(form.dateDebut) }}
                    </div>
                    <div class="md-form">
                        {{ form_label(form.dateFin) }}
                        {{form_widget(form.dateFin) }}
                    </div>

                    <div class="md-form">
                        {{ form_label(form.prix) }}
                        {{form_widget(form.prix) }}
                        <div class="  alert-danger"> {{ form_errors(form.prix) }}</div>
                    </div>
                    <div class="md-form">
                        {{ form_label(form.nbrMax) }}
                        {{form_widget(form.nbrMax) }}
                        <div class="  alert-danger"> {{ form_errors(form.nbrMax) }}</div>
                    </div>

                    <div class="md-form"> 
                        {{ form_label(form.adresse) }}
                        {{form_widget(form.adresse) }}
                        <div class="  alert-danger"> {{ form_errors(form.adresse) }}</div>
                    </div>

                    <div class="md-form"> 
                        {{ form_label(form.codeP) }}
                        {{form_widget(form.codeP) }}
                        <div class="  alert-danger"> {{ form_errors(form.codeP) }}</div>
                    </div>
                    <div class="md-form"> 
                        {{form_widget(form.ville) }}
                        <div class="  alert-danger"> {{ form_errors(form.ville) }}</div>
                    </div>
                    <div class="md-form"> 
                        {{form_widget(form.region) }}
                        <div class="  alert-danger"> {{ form_errors(form.region) }}</div>
                    </div>
                    <div class="md-form"> 
                        {{form_widget(form.departement) }}
                        <div class="  alert-danger"> {{ form_errors(form.departement) }}</div>
                    </div>
                    <div class="md-form"> 

                        {{form_widget(form.image) }}


                        <div class="  alert-danger"> {{ form_errors(form.image) }}</div>
                    </div>


                    <div class="text-right">
                        <br><br>
                        <input class="btn btn-primary-inverse btn-md waves-effect waves-light" type="submit" value="Créer" />
                        <br><br>
                    </div>
                    <br>


                </div>


            </div>
            {{ form_end(form) }}

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-1 mb-r">


        </div>
        <!--Grid column-->

    </div>
            
                <!-- Google Map -->	
    <script src="http://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=places&key=AIzaSyBdI6hYrzRf5QMgKGj8RQsEeLE9bS-1vOQ"></script>


<script type="text/javascript">

     document.querySelector('#category').required = true;
  document.querySelector('#description').required = false;
    google.maps.event.addDomListener(window, 'load', intilize);
    function intilize() {
        var autocomplete = new google.maps.places.Autocomplete(document.getElementById("adresse"));

        google.maps.event.addListener(autocomplete, 'place_changed', function () {

        var place = autocomplete.getPlace();
      
        var location = "Address: " + place.formatted_address + "<br/>";
            location += "Latitude: " + place.geometry.location.lat() + "<br/>";
            location += "Longitude: " + place.geometry.location.lng();
              
        document.getElementById('lblresult').innerHTML = location
        });

    };

    </script>
    
    <!-- Formulaires de devis -->
     <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.16.0/jquery.validate.min.js"></script>
     <script type="text/javascript" src="{{asset('bundles/app/js/validateEventForm.js')}}"></script>



{% endblock %}


