{% extends 'base.html.twig' %}

{% block body %}
 {#  {{ dump(events_json)}}#}
    <main>
        <!--Main layout-->
        <div class="container">

            <!--Page heading-->
            <div class="row">
                <div class="col-md-12">
                    <h1 class="h1-responsive">Tous les Ateliers
                        <!-- <small class="text-muted">recipes for launches and desserts </small> -->
                    </h1>
                </div>
            </div>
            <!--/.Page heading-->
            <hr>

            <!--row-->
            <div class="row mt-5 wow">
                <!--column-->
                {% for event in events %}
                    <div class="col-lg-4 wow fadeIn" data-wow-delay="0.2s">

                        <!--Card-->
                        <div class="card">

                            <!--Card image-->
                            <div class="view overlay hm-white-slight z-depth-1">
                                <img src="{{asset('uploads/images/' ~ event.image)}}" class="img-fluid" alt="">
                                <a>
                                    <div class="mask waves-effect waves-light"></div>
                                </a>
                            </div>
                            <!--/.Card image-->

                            <!--Card content-->
                            <div class="card-body text-center">
                                <!--Category & Title-->
                             {#   <h5>{{event.category.nom}}</h5>#}
                                <h4 class="card-title"><strong><a href="{{ path('presentation',{'id': event.id})}}" class="">{{event.titre}}</a></strong></h4>

                                <!--Description-->
                                <p class="card-text">{#{{event.description|raw}}#}
                                      {%if event.description | length < 35 %}
                                        {{event.description|raw }}
                                    {% else %}
                                        {{ event.description|slice(0, 35) }} <a href="{{ path('presentation',{'id': event.id})}}" class=""> ... </a>
                                    {% endif %}
                                </p>



                                <div class=" progress " >
                                    <div class="progress-bar bg-success progress-bar-striped" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                                                  ({{event.nbrParticipants}}/{{event.nbrMax}}) Participants


                            </div>
                            <!--/.Card content-->

                            <!--Card footer-->
                            <div class="card-data" style="background: #929FBA;">
                                <ul class="list-unstyled">
                                    <li class="ml-0">{{event.prix}} €</li>
                                    <li class="ml-5">
                                        <i class="fa fa-clock-o ml-0 pl-0"></i> {{event.dateDebut }}</li>
                                </ul>
                            </div>
                            <!--/.Card footer-->
                        </div>
                        <!--/.Card-->

                        {#                        <!--Card-->
                                                <div class="card view  hm-zoom">
                                                    <!--Card image-->
                                                    <img class="img-fluid" src="{{event.image.path}}" alt="{{event.image.alt}}">
                        
                        
                                                    <!--Card content-->
                                                    <div class="card-body">
                                                        <!--Title-->
                                                        <h4 class="card-title">{{event.titre}}</h4>
                                                        <!--Text-->
                                                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                                        <a href="#" class="btn btn-primary-atelier">Voir Plus</a>
                                                    </div>
                                                    <!--    <div class="my-2 progress col-lg-10" style="margin-left: 30px">
                                                <div class="progress-bar bg-success" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>-->
                                                    <div class="card-data" style="background: #929FBA;">
                                                        <ul class="list-unstyled">
                                                            <li class="ml-0">
                                                                <i class="fa fa-clock-o ml-0 pl-0"></i> 05/10/2018</li>
                                                            <li class="ml-5">
                                                                <i class="fa fa-clock-o ml-0 pl-0"></i> 05/11/2018</li>
                                                        </ul>
                                                    </div>
                                                    <!--/.Card footer-->
                                                </div>
                                                <!--/.Card-->#}

                    </div>
                {% endfor %}
                <!--/. column-->


            </div>
            <!--/.row-->


            <hr>
			 <!--Pagination-->
			  <nav class="row flex-center wow fadeIn" data-wow-delay="0.2s">
<div class="navigation">
    {{ knp_pagination_render(events) }}
</div>
</nav>
  <!--/.Pagination-->

        
        </div>
        <!--/.Main layout-->
    </main>
{% endblock %}


{% block javascripts %}

   {# <script type="text/javascript">
      function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 16,
          
        });
        var geocoder = new google.maps.Geocoder();
          geocodeAddress(geocoder, map);
      }

      function geocodeAddress(geocoder, resultsMap) {
        var address = '{{event.adresse}},  '+'{{event.ville}}';
        var title= '{{event.titre}}';
        geocoder.geocode({'address': address}, function(results, status) {
          if (status === 'OK') {
            resultsMap.setCenter(results[0].geometry.location);
            var marker = new google.maps.Marker({
              map: resultsMap,
              position: results[0].geometry.location,
              title: '{{event.titre}}',
              animation: google.maps.Animation.DROP,    
              address: '{{event.adresse}}',           
            })
          infoWindow(marker, map, title, address);
          } else {
            alert('Geocode was not successful for the following reason: ' + status);
          }
        });
      }
     var iw; 
      function infoWindow(marker, map, title, address) {
    google.maps.event.addListener(marker, 'click', function () {
        var html = "<div><h3>" + title + "</h3><p>" + address + "<br></div> ";
        iw = new google.maps.InfoWindow({
            content: html,
            maxWidth: 350
        });
        iw.open(map, marker);
    });
        google.maps.event.addListener(marker, 'click', function () {
    
       // iw.close();
    });

}

    </script>#}
   <script type="text/javascript">
    $(document).ready(function ()
    {



   
    });

</script>
        <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBdI6hYrzRf5QMgKGj8RQsEeLE9bS-1vOQ&callback=initMap">
       
    </script>
{% endblock %}

