{% extends 'base.html.twig' %}

{% block body %}
    <h1>Events list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Description</th>
                <th>Datecreation</th>
                <th>Datedebut</th>
                <th>Datefin</th>
                <th>Heuredeb</th>
                <th>Heurefin</th>
                <th>Prix</th>
                <th>Nbrmax</th>
                <th>Adresse</th>
                <th>Codep</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for event in events %}
            <tr>
                <td><a href="{{ path('event_show', { 'id': event.id }) }}">{{ event.id }}</a></td>
                <td>{{ event.titre }}</td>
                <td>{{ event.description }}</td>
                <td>{% if event.dateCreation %}{{ event.dateCreation|date('Y-m-d') }}{% endif %}</td>
                <td>{% if event.dateDebut %}{{ event.dateDebut|date('Y-m-d') }}{% endif %}</td>
                <td>{% if event.dateFin %}{{ event.dateFin|date('Y-m-d') }}{% endif %}</td>
                <td>{% if event.heureDeb %}{{ event.heureDeb|date('H:i:s') }}{% endif %}</td>
                <td>{% if event.heureFin %}{{ event.heureFin|date('H:i:s') }}{% endif %}</td>
                <td>{{ event.prix }}</td>
                <td>{{ event.nbrMax }}</td>
                <td>{{ event.adresse }}</td>
                <td>{{ event.codeP }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('event_show', { 'id': event.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('event_edit', { 'id': event.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('event_new') }}">Create a new event</a>
        </li>
    </ul>
{% endblock %}
