{% extends 'base.html.twig' %}

{% block body %}
    <h1>Event</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ event.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ event.titre }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ event.description }}</td>
            </tr>
            <tr>
                <th>Datecreation</th>
                <td>{% if event.dateCreation %}{{ event.dateCreation|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Datedebut</th>
                <td>{% if event.dateDebut %}{{ event.dateDebut|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Datefin</th>
                <td>{% if event.dateFin %}{{ event.dateFin|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Heuredeb</th>
                <td>{% if event.heureDeb %}{{ event.heureDeb|date('H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Heurefin</th>
                <td>{% if event.heureFin %}{{ event.heureFin|date('H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ event.prix }}</td>
            </tr>
            <tr>
                <th>Nbrmax</th>
                <td>{{ event.nbrMax }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ event.adresse }}</td>
            </tr>
            <tr>
                <th>Codep</th>
                <td>{{ event.codeP }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('event_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('event_edit', { 'id': event.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
